{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% extends "layout.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Prototypes:</h1>

<h2 class="govuk-heading-l">RAA v2:</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell" >
            <a href="2/recruitment/config" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v3</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: purple;">
              IN PROGRESS
            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li>Nothing built in this version yet</li>
            </ul>
          </td>
        </tr>
          <td class="govuk-table__cell" >
            <a href="2/recruitment/config" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v2</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: purple;">
              IN PROGRESS
            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li>Trello 81 - Disability Confident question addition</li>
              <li>Trello 80 - Reporting for Employers</li>
              <li>Trello 79 - TP can search for Employer</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="1/recruitment/config" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v1</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: blue;">
              BASELINE
            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">As was journey</td>

        </tr>

      </tbody>
    </table>

<br /><br />


<h2 class="govuk-heading-l">QA v2:</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">


        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="1/qa/index" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v1</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: blue;">
              BASELINE
            </strong>
            <br>
          </td>
              <td class="govuk-table__cell">As was journey</td>

        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
