{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Recruitment API - Manage apprentices
{% endblock %}
{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Recruitment API</h1>
      <p class="govuk-body">
        Integrating with our API may be useful if you are a large employer and want to create adverts using your existing content management system. It will allow you to publish to multiple sites, as well as Find an apprentice. <br><br>You can also use the API to display all your adverts on any website.  
      </p>
      <h2 class="govuk-heading-l">What the API does</h2> 
      <p class="govuk-body">
        APIs let applications share information and data with each other. <br><br>If you connect using our API, you can use your own content management system to create adverts on find an apprenticeship. <br><br>You can also use our API to display your adverts on your own website. 
      </p>
      <h2 class="govuk-heading-l">How to use the API</h2> 
      <p class="govuk-body">
        You'll need someone with technical knowledge to connect your software program with the API, for example a software developer. <br><br>You can share this technical documentation with the person who is going to connect your software program with the API. <br><br>It can take a while to connect using an API, so leave enough time to integrate it. <br><br>Only accounts with owner permissions can access the API. 
      </p>
      <h2 class="govuk-heading-l">Accessing the API</h2> 
      <p class="govuk-body">
        If you have owner permissions you can access the API homepage. <br><br>You'll need someone with technical knowledge to connect your software program with the API, for example a software developer. <br><br>Your developer will be able to try out the API using the sandbox provided.<br><br>Go to <a href="api-hub" class="govuk-link govuk-link--no-visited-state">API homepage</a>.
      </p>
      <h2 class="govuk-heading-l">Get help and support</h2> 
      <p class="govuk-body">
        If you have any issues, either during development or once your software is live, you can get <a href="#" class="govuk-link govuk-link--no-visited-state">help and support</a> from us.
      </p>
  </div>
</div>
{% endblock %}